/.dev
/.ext
/.vscode/launch.json
/.vscode/tasks.json

/example/verdict

bundle.tgz
bundle.tar.gz

cover.out
go.work.sum

# https://github.com/golang/go/issues/53502
# go.work.sum is machine specific and should not be checked in
go.work.sum
