---
name: ci

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  push:
    # Publish `main` as Docker `latest` image.
    branches:
      - main
  # Run tests for PRs
  pull_request:

env:
  GO_VERSION: 1.25
  GO_LANGCI_LINT_VERSION: v2.6.2
  GO_TESTSUM_VERSION: 1.13.0

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v5
      -
        name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      -
        name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: ${{ env.GO_LANGCI_LINT_VERSION }}
          args: --timeout=10m
      -
        name: Lint example
        uses: golangci/golangci-lint-action@v8
        with:
          version: ${{ env.GO_LANGCI_LINT_VERSION }}
          args: --timeout=10m
          working-directory: example
      -
        name: Test Setup
        uses: gertd/action-gotestsum@v3.0.0
        with:
          gotestsum_version: ${{ env.GO_TESTSUM_VERSION }}
      -
        name: Test
        run: |
          gotestsum --format short-verbose -- -count=1 -v -timeout=120s -coverprofile=cover.out -coverpkg=./... ./...
      -
        name: Upload code coverage
        uses: shogo82148/actions-goveralls@v1
        continue-on-error: true
        with:
          path-to-profile: cover.out
